/***************************************************
	Client
****************************************************/

.header {
	height: 80px;
	background-color: #292574;
	display: flex;
	align-items: center;
	color: #fff;
	
}

.container {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.auth_block {
	display: flex;
}

.login_group {
	font-size: 12px;
}

.nav_button_logout {
	color: #fff;
}

.nav_button_logout:hover {
	color: #fff;
	border-bottom: 3px solid red;
}

.body_container {
	width: 80%;
	margin: auto;
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: space-between;*/
}

.nav_button {
	font-size: 19px;
	color: #fff;
	margin: 0 10px;
	text-decoration: none;
}

.nav_button:hover {
	padding-bottom: 3px;
	border-bottom: 4px solid red;
}
