.card {
	border: 1px solid green;
	display: flex;
	margin: 15px 0;
}

.card_image {
	/*border: 3px solid red;*/
	width: 300px;
}

.card_image img {
	width: 300px;
}

.card_text {
	padding: 20px;
}

.card_text h2 {
	padding: 10px;
}

.order_button {
	border: 3px solid #E719C1;
	border-radius: 5px;
	padding: 5px 20px;
	font-size: 19px;
	background: #BFC8E0;
}

.order_button:hover {
	background: #34436F;
	color: #fff;
	cursor: pointer;
}